<div class="container bg-white">
    <h2 class="text-primary text-center">The Campaigns</h2>
    <div class="row mb-2">
        <p class="lead col-sm-6">There are many ways to experience the World of Kavvera. If you are interested in joining as a player, you may choose which campaign style suits you.</p>
        <div class="col-sm-6 d-print-none">
            <img class="img-fluid" src="/assets/images/bookWind.png" alt="Flying a kite on a book" title="Courtesy of pixma.com">
        </div>
        <div class="col-sm-6 d-print-none">
            <img class="img-fluid" src="/assets/images/worldOnBook.png" alt="">
        </div>
        <p class="col-sm-6 d-print-none">Some of the following campaign settings have been played before. Every experience of each campaign is tailored to the players, making every group's story unique. For some examples: Run your own bakery, magic shop, apothecary and armory (all in one!) in the City of Del Rei. Get captured by the authorities when you defy the Gasrentor Empire, and plot your escape. Discover the secret of the Sleeping Lands. Bend the souls of those you vanquish to empower you while assassinating rivals for Cthonic Lords. Babysit a cursed wyrmling for her Dreadwyrm parents. Battle or befriend enigmatic entities from beyond reality. Some of our greatest epics of history were born from adventuring campaigns. Let's make a story together, and mayhaps the bards will sing of it for years to come.</p>
    </div>

    <div id="fold">
        <div class="card mb-2 d-print-none">
            <div class="card-header bg-info">
                <a class="btn" data-bs-toggle="collapse" href="#first"><h4>Buried</h4></a>
            </div>
            <div class="collapse show" id="first" data-bs-parent="fold">
                <p class="card-body">Seek buried treasure in ancient ruins. The classic dungeon-dive campaign.</p>
            </div>
        </div>

        <div class="card mb-2 d-print-none">
            <div class="card-header bg-info">
                <a class="btn" data-bs-toggle="collapse" href="#second"><h4>City of Del-Rei</h4></a>
            </div>
            <div class="collapse show" id="second" data-bs-parent="fold">
                <p class="card-body">Navigate an ancient city after a cataclysmic planar shift. Beings of all types try to live in balance a thousand years after the event changed the landscape and people forever.</p>
            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header bg-info">
            <a class="btn" data-bs-toggle="collapse" href="#third"><h4>Dragon Empires</h4></a>
        </div>
        <div class="collapse show" id="third" data-bs-parent="fold">
            <p class="card-body">The ancient times of the world when Dragons meddled in the affairs of mortals. Society is dominated by these often capricious beings and their complicated gambits for wealth, power, influence... and more wealth.</p>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header bg-info">
            <a class="btn" data-bs-toggle="collapse" href="#fourth"><h4>Gasrentor Empire</h4></a>
        </div>
        <div class="collapse show" id="fourth" data-bs-parent="fold">
            <p class="card-body">Hundred of years ago the Elemental Gods sent their avatars to champion their faithful in a war to end a harsh economic caste system. The Stone God's avatar Gashrentu triumphed. Hanvya, the avatar of the Water God, drowned her faithful along the western coast to save them from the horros Gashrentu inflicted upon the vanquished. She was imprisoned by infuriated gods, and Gashrentu built his empire. Now the castes are rooted in faith, with the Bone God's worshipers at the bottom and the Stone God's followers holding dominion.</p>
            <p class="card-footer mb-0 bg-warning fw-bold">This campaign features horror and abuse themes.</p>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header bg-info">
            <a class="btn" data-bs-toggle="collapse" href="#fifth"><h4>Neverbright</h4></a>
        </div>
        <div class="collapse show" id="fifth" data-bs-parent="fold">
            <p class="card-body">The world of caverns is dominated by dwarves and dark elves, while terrible creatures lurk in the depths. Light is a burden here, as it attracts the attention of dangerous, curious creatures. The traps and virtues of society can snare some, while others seek the buried remnants of the long-dead civilisations of the surface.</p>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header bg-info">
            <a class="btn" data-bs-toggle="collapse" href="#sixth"><h4>Sleeping Lands</h4></a>
        </div>
        <div class="collapse show" id="sixth" data-bs-parent="fold">
            <p class="card-body">A generation ago there was a terrible darkness, and to speak of it is taboo. One morning, a new merchant arrives in the village and wakes everyone with his sales announcements. He tells you every village he has visited has been asleep. Will you answer his request for guards as he continues his journey, or will you set out to investigate his claims for yourself?</p>
            <p class="card-footer mb-0 bg-warning fw-bold">This campaign has a strong horror theme.</p>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header bg-info">
            <a class="btn" data-bs-toggle="collapse" href="#seventh"><h4>Wandering World</h4></a>
        </div>
        <div class="collapse show" id="seventh" data-bs-parent="fold">
            <p class="card-body">You grew up in an idyllic empire, ruled by a benevolent wizard who perfomrs weekly miracles around his domain. Everyone is provided whatever resources they need, and the emperor decreed universal education, including arts and apprenticeships as each citizen desires. You always had a mentor looking out for you, smoothing over any mistakes and easing your burdens. But something in you has called out for more. Against your mentor's advice, you seek adventure - and end up struggling for survival in a world teeming with evil. Dire fiends scheme; villains harvest, barter and consume souls; horrific mockeries of people and creatures roam the wilderness. The nights are deadly frost and the sun changes with every dawn. Can you find your way home?</p>
            <p class="card-footer mb-0 bg-danger fw-bold">This campaign is for mature adults only. The themes are extreme survival, the worst of humanity, and bizarre magical horrors. Evil is shocking.</p>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header bg-info">
            <a class="btn" data-bs-toggle="collapse" href="#eigth"><h4>Wars of Arthanaac</h4></a>
        </div>
        <div class="collapse show" id="eigth" data-bs-parent="fold">
            <p class="card-body">Zorath the Eternal claims the vast territory Arthanaac as a province of his Empire of Annihils. Zorath's motive for the claim is enforced with at least a hundred legions at any time. Though they chafe under the empire's iron grip, their spirits have never been broken. Arthanaacians are adventurous and innovative. Adventurers don't bother with politics so long as nobody stops their exploration. There is a thriving community of mentorship and benevolence among them. In fact, most believe the seemingly limitless secret treasures, ancient ruins, and dark mysteries are what attracted the Eternal One's attention. Will you explore the unknown, or join the rebels? Maybe both?</p>
        </div>
    </div>
</div>
