<div class="row py-2">
    <div class="col-12 col-md-7 text-center text-light small">
        <p>Kyle and Christopher Crawford welcome you to Kavvera. Our home of imagination for over 30 years.</p>
        <p class="small">Site Author: Christopher Crawford. Special thanks to W3Schools, pixma.com and favicon.io. All site text content is copyright Kyle Crawford and Christopher Crawford.</p>
        <p></p>
    </div>

    <div class="col-md-5 d-none d-md-block">
        <img class="img-fluid" src="/assets/images/footer.png" alt="Dice" title="&copy;Christopher Crawford">
    </div>
</div>