<dl class="mx-3 mt-2">
    <dt>
        Omniversity
    </dt>
    <dd class="ms-2">
        a place where all knowledge can be found and all beings are welcome, but it's nearly impossible to harm people. This is a place where gods might meet for coffee, devils and angels debate morality, and scholars spend a lifetime seeking great powers.
    </dd>
    <dt>
        Del Rei
    </dt>
    <dd class="ms-2">
        Once an impregnable fortress city in a niche among towering cliffs on the east coast of Haeric. The city was only defeated once, by the second Dark Horde; the Colosaen shunned the city for accepting aid from the son of the Vampire God. Del Rey's second incarnation was as a thriving ocean port, a hub for trade among the Thirteen Great Cities. The Pyroclasm shattered the geography, sending massive chunks of rock to hover over the city, including two so large the area beneath each cannot be touched by daylight; these are called the North and South Shades. Now in its third incarnation, Del Rei is still a thriving trade hub, but also teeming with life from a fair sample of the Cosmos.
    </dd>
    <dt>
        Ephesae
    </dt>
    <dd class="ms-2">
        Established in honor of Tephys, the great elf wizard, one of the Six Rebels who successfully deposed the much maligned ruler of the world. It is a city of learning and wizardry, with great Towers devoted to different aspects of The Arcanum. Anyone who does not study magic here is a servant to those who do.
    </dd>
    <dt>
        Colosae
    </dt>
    <dd class="ms-2">
        Established in honor of Kulas, the great human sorcerer, one of the Six Rebels. This is also a city of Towers, where sorcerers learn to tap and enhance their inherent strengths. Students freely pass between towers as their powers develop, sometimes honing skills in every major aspect of the Arcanum.
    </dd>
    <dt>
        Philipae
    </dt>
    <dd class="ms-2">
        Established in the name of Pheeloph, one of The Six. It was the greatest ocean port in all the world, the trade jewel of Haeric, bringing goods from everywhere - unfortunately including the slave trade. Pheeloph was always morally flexible, and his namesake city would prove to be the same. When Tephys and Kulas had their devastating duel, Philipae was destroyed. Over time, a new port city rose in its place, but it would never regain its prosperity.
    </dd>

    <dt>
        Thesae
    </dt>
    <dd class="ms-2">
        A city of religion, with temples dedicated to every entity worshipped all over the world. It is believed at least a million pilgrims visited the city each year. Every day and night had religious significance somewhere in the city, so it was constantly filled with music and celebration. Rumors of extensive catacombs and undead in the sewers circulated in every city of the world. Sadly, this city was destroyed during the duel of Tephys and Kulas.
    </dd>
</dl>
