<section class="row row-cols-md-2 mt-2">

    <div class="col-md-8">
        <h2 id="indexH2" class="text-center">A World of Endless Tales</h2>
        <p>Kavvera began more than 30 years ago with a game of Dungeons and Dragons&copy;. Over the decades the Crawford brothers have grown it into epic tales, diverse racial ecologies, and a unique pantheon. As we invite people into our world with roleplaying campaigns, it evolves with the players' ideas. Divine intervention, extraplanar interference, and brutal consequences shape the nuances of every campaign. Great, ancient cities are spread over immense continents on a world of incredible size. Natural dangers are plentiful, opposing forces endlessly scheme, empires rise and fall. Homegrown beasts, complicated civilizations, and infinite peril await. Will you risk everything for glory, treasure, power, or destruction? Battle prophecy and destiny? Stand up against the Gods, or evangelize for their ideals? Carve your own story into the grand history of Kavvera!
        </p>
    </div>

    <div class="col-md-4 d-print-none">
        <img class="col img-fluid" src="assets/images/planet.png" alt="Fantasy planet" title="Courtesy of pixma.com">
    </div>
</section>

<blockquote class="blockquote">
    <p>Priests, bards, and kings shape what we believe. Experience teaches us what we need for survival. People ignore what does not fit the world they built for themselves within that frame, which is why our methods work. We will teach you how to bend the senses to your will, with and without magic.</p>

    <footer class="blockquote-footer">Encyclopedia Phantasmagoria, Vol. 1</footer>
</blockquote>
